<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>滚动导航条页面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68D40E9D1D0E4BE5002A8DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D40EB61D0E4BE5002A8DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D40EC11D0E4BE5002A8DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
